# Google Drive API Credentials
# Copia aquest fitxer com a .env.local i omple els valors reals
# Obtinguts de: https://console.cloud.google.com/

VITE_GOOGLE_CLIENT_ID=el-teu-client-id.apps.googleusercontent.com
VITE_GOOGLE_API_KEY=la-teva-api-key
VITE_GOOGLE_APP_ID=el-teu-project-number
